.app-shell {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

.main-content {
    flex: 1;
    background-color: transparent;
    color: #fff;
}